<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAHuW1uYcT-v9oTjM2a6MU5aNkVNLCTCk</string>
	<key>GCM_SENDER_ID</key>
	<string>672844108107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecom-7db57</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-7db57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672844108107:ios:8fe8c19500875a513dd8ce</string>
	<key>DATABASE_URL</key>
	<string>https://ecom-7db57-default-rtdb.firebaseio.com</string>
</dict>
</plist>